
{% load static %}
<!doctype html>
<html lang="ko">
<head>
  <link rel= "stylesheet" href ="/static/css/bootstrap.min.css">
  <style >
    .nav.nav-pills,
    .form-group {
      height: 50px;
      width: 400px;
      margin: 0 auto;
    }
    
  </style>
</head>

<body class = "text-center">
    <!-- 네비바// 코드 다시 안쓰고 재활용 할 수 없을까 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">IT STUDY</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!--분야선택-->
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">분야</a>
        <div class="dropdown-menu" style="">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>

    <!--지역선택-->
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">지역</a>
        <div class="dropdown-menu" style="">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>

    <!--요일선택-->
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">요일</a>
        <div class="dropdown-menu" style="">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <!--시간선택-->
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">시간</a>
        <div class="dropdown-menu" style="">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <!--모집인원수-->
    <div>
    <fieldset class="form-group">
      <h6 style ="float:left; color: rgb(93, 190, 158)">모집인원 수</h6>
      <input type="range" class="custom-range" id="customRange1">
    </fieldset>
  </fieldset>
</div>
    <!--글쓰기-->
    <form method="post">
     <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="제목을 작성해주세요.">
      </div>

      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" name="contents" rows="10" placeholder="내용을 입력하세요"></textarea>
        <div style ="margin: 30px;">
          <button type="submit" class="btn btn-info">등록하기</button>
          <button type="button" class="btn btn-secondary">목록으로</button>
        </div>
      </div>

      

    </form>    
</body>
</html>

